<?php

use Application\Form\BookForm;

/**
 * @var $form BookForm;
 */
$title = $action != 'edit' ? 'Add new book' : 'Edit book';
$this->headTitle($title);

$fields = $form->getElements();
foreach ($fields as $field) {
    $field->setAttribute('class', 'form-control');
}
?>

<div class="box box-primary col-md-6">
    <div class="box-body col-md-6">
        <?php
        // This provides a default CSS class and placeholder text for the title element:
        $book = $form->get('name');
        $book->setAttribute('placeholder', 'book name')
            ->setAttribute('required', 'true');


        // This provides CSS classes for the submit button:
        $submit = $form->get('submit');
        $submit->setAttribute('class', 'btn btn-primary');

        if ($action == 'edit') {
            $form->setAttribute('action', $this->url('book', ['action' => 'edit', 'id' => $form->get('id')->getValue()]));
        } else {
            $form->setAttribute('action', $this->url('book', ['action' => 'add']));
        }
        $form->prepare();

        echo $this->form()->openTag($form);

        $quantity = $form->get('quantity');
        if ($quantity->getValue() === null) {
            $quantity->setValue(1);
        }
        ?>

        <div class="form-group">
            <?= $this->formLabel($book) ?>
            <?= $this->formElement($book) ?>
            <?= $this->formElementErrors()->render($book, ['class' => 'help-block']) ?>
        </div>

        <div class="form-group">
            <?= $this->formLabel($quantity) ?>
            <?= $this->formElement($quantity) ?>
            <?= $this->formElementErrors()->render($quantity, ['class' => 'help-block']) ?>
        </div>

        <?php
        echo $this->formSubmit($submit);
        echo $this->formHidden($form->get('id'));
        echo $this->form()->closeTag();
        ?>
    </div>
</div>
