<?php
$title = 'Books';
$this->headTitle($title);
?>
<div class="box box-primary col-md-7">
    <div class="box-body">
        <table class="table">
            <tr>
                <th>Наименование</th>
                <th>кол шт</th>
                <th>отдано</th>
                <th></th>
            </tr>
            <?php foreach ($books as $book) :
                ?>
                <tr>
                    <td><?= $this->escapeHtml($book->name) ?></td>
                    <td><?= $book->getQuantity() ?></td>
                    <td><?= $book->getRentQuantity() ?></td>
                    <td>
                        <a href="<?= $this->url('book', ['action' => 'edit', 'id' => $book->id]) ?>">Редактировать</a> |
                        <a href="<?= $this->url('book', ['action' => 'delete', 'id' => $book->id]) ?>">Удалить</a> |
                        <a href="<?= $this->url('book', ['action' => 'rent', 'id' => $book->id]) ?>">Выдать</a>
                    </td>
                </tr>
            <?php endforeach; ?>
        </table>
    </div>
</div>