<?php

use Application\Form\UserBookForm;

/**
 * @var $form UserBookForm;
 */
$title = 'Выдать книгу пользователю';
$this->headTitle($title);

$fields = $form->getElements();
foreach ($fields as $field) {
    $field->setAttribute('class', 'form-control');
}
?>

<div class="box box-primary col-md-6">
    <div class="box-body col-md-6">
        <?php
        $book = $form->get('book');
        $user = $form->get('user');

        $submit = $form->get('submit');
        $submit->setAttribute('class', 'btn btn-primary');

        $form->setAttribute('action', $this->url('book', ['action' => 'rent']));
        $form->prepare();

        echo $this->form()->openTag($form);
        ?>

        <div class="form-group">
            <?= $this->formLabel($book) ?>
            <?= $this->formElement($book) ?>
            <?= $this->formElementErrors()->render($book, ['class' => 'help-block']) ?>
        </div>

        <div class="form-group">
            <?= $this->formLabel($user) ?>
            <?= $this->formElement($user) ?>
            <?= $this->formElementErrors()->render($user, ['class' => 'help-block']) ?>
        </div>

        <?php
        echo $this->formSubmit($submit);
        echo $this->formHidden($form->get('redirect'));
        echo $this->form()->closeTag();
        ?>
    </div>
</div>
