<?php

use Zend\Mvc\Plugin\FlashMessenger\FlashMessenger;
/**
 * @var $this Zend\View\Renderer\PhpRenderer
 */
?>
<?= $this->doctype() ?>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <?= $this->headTitle() ?>
    <?= $this->headMeta()
        ->appendName('viewport', 'width=device-width, initial-scale=1.0')
        ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
    ?>

    <!-- Le styles -->
    <?= $this->headLink(['rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/img/favicon.ico'])
        ->prependStylesheet($this->basePath('css/bootstrap.min.css'))
        ->prependStylesheet($this->basePath('css/font-awesome/css/font-awesome.min.css'))
        ->prependStylesheet($this->basePath('css/Ionicons/css/ionicons.min.css'))
        ->prependStylesheet($this->basePath('css/AdminLTE.min.css'))
        ->prependStylesheet($this->basePath('css/skins/skin-blue.min.css'))
    ?>
    <!-- Scripts -->
    <?= $this->inlineScript()
        ->prependFile($this->basePath('js/bootstrap.min.js'))
        ->prependFile($this->basePath('js/adminlte.min.js'))
        ->prependFile($this->basePath('js/jquery-min.js'))
    ?>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <!-- Main Header -->
    <header class="main-header">

        <!-- Logo -->
        <a href="/" class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini"><b>BB</b></span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg"><b>BB</b>PRO</span>
        </a>

        <!-- Header Navbar -->
        <nav class="navbar navbar-static-top" role="navigation">
            <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>
        </nav>
    </header>
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            <!-- Sidebar user panel (optional) -->
            <div class="user-panel">
                <div class="pull-left image">
                    <img src="/img/logo.png" class="img-circle" alt="User Image">
                </div>
                <div class="pull-left info">
                    <p>Валижанов Д</p>
                    <!-- Status -->
                    <a href="#"><i class="fa fa-circle text-success"></i>Библиотека</a>
                </div>
            </div>

            <!-- Sidebar Menu -->
            <?= $this->navigation('navigation')
                ->menu()
                ->setMinDepth()
                ->setUlClass('sidebar-menu')
            ?>
            <!-- /.sidebar-menu -->
        </section>
        <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                <?= $this->headTitle()->renderTitle() ?>
            </h1>
        </section>
        <!-- Main content -->
        <section class="content container-fluid">
            <?= $this->flashMessenger()->render(FlashMessenger::NAMESPACE_SUCCESS, ['alert alert-success']); ?>
            <?= $this->flashMessenger()->render(FlashMessenger::NAMESPACE_ERROR, ['alert alert-danger']); ?>
            <?= $this->flashMessenger()->render(FlashMessenger::NAMESPACE_INFO, ['alert alert-info']); ?>
            <?= $this->flashMessenger()->render(FlashMessenger::NAMESPACE_WARNING, ['alert alert-warning']); ?>
            <?= $this->content ?>
        </section>
        <!-- /.content -->
        <!-- /.content-wrapper -->
    </div>
    <!-- Main Footer -->
    <footer class="main-footer">
        <!-- To the right -->
        <div class="pull-right hidden-xs">

        </div>
        <!-- Default to the left -->
        <strong>Copyright &copy; 2020 <a href="#">Don</a>.</strong> All rights reserved.
    </footer>
</div>
</body>
</html>