<?php

use Application\Form\BookForm;

/**
 * @var $form BookForm;
 */
$title = $action != 'edit' ? 'Добавить нового пользователя' : 'Редактировать пользователя';
$this->headTitle($title);

$fields = $form->getElements();
foreach ($fields as $field) {
    $field->setAttribute('class', trim($field->getAttribute('class') . ' form-control'));
}
?>

<div class="box box-primary col-md-6">
    <div class="box-body col-md-6">
        <?php
        // This provides a default CSS class and placeholder text for the title element:
        $user = $form->get('name');
        $user->setAttribute('placeholder', 'Имя пользователя')
            ->setAttribute('required', 'true');

        // This provides CSS classes for the submit button:
        $submit = $form->get('submit');
        $submit->setAttribute('class', 'btn btn-primary');

        $form->setAttribute('action', $this->url('user', ['action' => 'add']));
        $form->prepare();

        echo $this->form()->openTag($form);

        ?>

        <div class="form-group">
            <?= $this->formLabel($user) ?>
            <?= $this->formElement($user) ?>
            <?= $this->formElementErrors()->render($user, ['class' => 'help-block']) ?>
        </div>

        <?php
        echo $this->formSubmit($submit);
        echo $this->formHidden($form->get('id'));
        echo $this->form()->closeTag();
        ?>
    </div>
</div>
