<?php
$title = 'Пользователи';
$this->headTitle($title);
?>
<div class="box box-primary col-md-7">
    <div class="box-body">
        <table class="table">
            <tr>
                <th>Имя пользователя</th>
                <th>книг (шт)</th>
                <th></th>
            </tr>
            <?php foreach ($users as $user) :
                ?>
                <tr>
                    <td><?= $this->escapeHtml($user->name) ?></td>
                    <td><?= $user->getQuantityBook() ?></td>
                    <td>
                        <a href="<?= $this->url('user', ['action' => 'edit', 'id' => $user->id]) ?>">Редактировать</a> |
                        <a href="<?= $this->url('user', ['action' => 'delete', 'id' => $user->id]) ?>">Удалить</a> |
                        <a href="<?= $this->url('book', ['action' => 'rent', 'id' => 0, 'user-id' => $user->id]) ?>">Выдать</a>
                    </td>
                </tr>
            <?php endforeach; ?>
        </table>
    </div>
</div>